.App > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/absurdity.png');
  background-color: #2fa333;
  padding: 140px 0 0 0;
}

header h2 {
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 1024px) {
  .App > header {
    width: 50%;
    height: 40%;
    margin: 10rem 0 0 5rem;
    padding: 2rem 1rem 0 1rem;
  }
}