.App > header {
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/absurdity.png');
  background-color: #2fa333;
  padding: 140px 0 0 0;
}

header h2 {
  color: rgb(255, 255, 255);
}